<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->
<!--<mapper namespace="warehouse.inneroperationscore.repository.ProductRepository">-->

<!--    <resultMap id="productEntity" type="warehouse.inneroperationscore.model.ProductEntity" autoMapping="true">-->
<!--        <id property="id" column="id" jdbcType="BIGINT"/>-->
<!--    </resultMap>-->

<!--    <select id="findByTypeAndName" resultMap="productEntity">-->
<!--        select *-->
<!--        FROM products-->
<!--        WHERE product_type = #{productType} AND name = #{productName};-->
<!--    </select>-->

<!--    <select id="findById" resultMap="productEntity">-->
<!--        select *-->
<!--        FROM products-->
<!--        WHERE id = #{id}-->
<!--    </select>-->

<!--    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">-->
<!--        INSERT INTO person_data (product_type, name, price, count)-->
<!--        VALUES-->
<!--            (#{product.productType}, #{product.name},-->
<!--             #{product.price}, #{product.count})-->
<!--    </insert>-->
<!--</mapper>-->